n8n/workflows/01-atendimento-principal.json
{
  "id": "igjfXgJa6zYvQz1u",
  "name": "Fluxo 1 — Atendimento Principal",
  "active": true,
  "nodes": [
    {
      "id": "node-wh-entrada",
      "name": "Webhook Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "atendimento-entrada",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "webhookId": "49b94b8f-fe96-4c47-9299-d9101f7ebe01"
    },
    {
      "id": "node-normalizar",
      "name": "Normalizar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst data = body.data || body;\n\nconst remoteJid = data.key?.remoteJid || data.remoteJid || body.telefone || '';\nconst telefone = remoteJid.replace('@s.whatsapp.net', '').replace('@g.us', '');\n\nconst mensagem = data.message?.conversation\n  || data.message?.extendedTextMessage?.text\n  || body.mensagem\n  || '[midia]';\n\nconst nome_cliente = data.pushName\n  || data.pushname\n  || body.nome_cliente\n  || 'Cliente';\n\nreturn [{ json: { telefone, mensagem, nome_cliente, canal: 'whatsapp' } }];"
      }
    },
    {
      "id": "node-buscar-cliente",
      "name": "Buscar Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [700, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/clientes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "telefone", "value": "=eq.{{ $json.telefone }}"},
            {"name": "select", "value": "*"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"}
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "node-catalogo-hub",
      "name": "Buscar Catalogo Hub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [700, 400],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.HUB_URL }}/api/produtos",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "node-montar-contexto",
      "name": "Montar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300],
      "parameters": {
        "jsCode": "const payload = $('Normalizar Payload').item.json;\nconst clienteData = $('Buscar Cliente').item.json;\nconst catalogoHub = $('Buscar Catalogo Hub').item.json;\n\nconst clientes = Array.isArray(clienteData) ? clienteData : [clienteData];\nconst cliente = clientes[0] || {};\nconst etapa_atual = cliente.etapa || 'novo';\n\nlet catalogo = [];\nif (Array.isArray(catalogoHub)) {\n  catalogo = catalogoHub;\n} else if (catalogoHub?.produtos) {\n  catalogo = catalogoHub.produtos;\n} else if (catalogoHub?.data) {\n  catalogo = catalogoHub.data;\n}\n\nconst catalogo_formatado = catalogo.length > 0\n  ? catalogo.map(p => `- ${p.nome}: R$ ${p.preco} (${p.unidade || 'un'})`).join('\\n')\n  : 'Catalogo indisponivel no momento.';\n\nreturn [{\n  json: {\n    ...payload,\n    etapa_atual,\n    catalogo_formatado,\n    cliente_id: cliente.id || null\n  }\n}];"
      }
    },
    {
      "id": "node-ia-atendimento",
      "name": "IA Atendimento",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1160, 300],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=Voce e um atendente virtual de uma loja de varejo. Seja cordial, objetivo e profissional.\n\nCatalogo atual:\n{{ $json.catalogo_formatado }}\n\nCliente: {{ $json.nome_cliente }} | Etapa atual: {{ $json.etapa_atual }}\n\nResponda naturalmente como atendente. Retorne SOMENTE JSON valido sem markdown:\n{\"resposta\": \"...\", \"intencao\": \"saudacao|consulta_preco|fazer_pedido|fora_escopo|humano\"}"
            },
            {
              "role": "user",
              "content": "={{ $json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "xxXa5gXpf4dM4Smm",
          "name": "OpenAI"
        }
      }
    },
    {
      "id": "node-parse-ia",
      "name": "Parse IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 300],
      "parameters": {
        "jsCode": "const raw = $input.first().json.message?.content || $input.first().json.text || '{}';\nlet parsed;\ntry {\n  const clean = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  parsed = { resposta: 'Desculpe, nao entendi. Pode repetir?', intencao: 'fora_escopo' };\n}\n\nconst payload = $('Montar Contexto').item.json;\n\nreturn [{\n  json: {\n    ...payload,\n    resposta: parsed.resposta || 'Ola! Como posso ajudar?',\n    intencao: parsed.intencao || 'fora_escopo'\n  }\n}];"
      }
    },
    {
      "id": "node-switch-intencao",
      "name": "Switch Intencao",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1600, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intencao }}",
                    "rightValue": "fazer_pedido",
                    "operator": {"type": "string", "operation": "equals"}
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "fazer_pedido"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.intencao }}",
                    "rightValue": "humano",
                    "operator": {"type": "string", "operation": "equals"}
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "humano"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "node-chamar-fluxo2",
      "name": "Chamar Fluxo 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1820, 180],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.evoapi.shop/webhook/fechamento-pedido",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"telefone\": \"{{ $json.telefone }}\", \"nome_cliente\": \"{{ $json.nome_cliente }}\", \"canal\": \"whatsapp\", \"mensagem\": \"{{ $json.mensagem }}\"}",
        "options": {}
      }
    },
    {
      "id": "node-chamar-fluxo3",
      "name": "Chamar Fluxo 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1820, 320],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.evoapi.shop/webhook/handoff-humano",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"tipo\": \"humano\", \"nome\": \"{{ $json.nome_cliente }}\", \"telefone\": \"{{ $json.telefone }}\", \"canal\": \"whatsapp\", \"ultimas_mensagens\": [\"{{ $json.mensagem }}\"]}",
        "options": {}
      }
    },
    {
      "id": "node-enviar-resposta",
      "name": "Enviar Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1820, 460],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.EVOLUTION_API_URL }}/message/sendText/{{ $vars.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $vars.EVOLUTION_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"number\": \"{{ $json.telefone }}\", \"text\": \"{{ $json.resposta }}\"}",
        "options": {}
      }
    },
    {
      "id": "node-respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2060, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      }
    }
  ],
  "connections": {
    "Webhook Entrada": {
      "main": [[{"node": "Normalizar Payload", "type": "main", "index": 0}]]
    },
    "Normalizar Payload": {
      "main": [[
        {"node": "Buscar Cliente", "type": "main", "index": 0},
        {"node": "Buscar Catalogo Hub", "type": "main", "index": 0}
      ]]
    },
    "Buscar Cliente": {
      "main": [[{"node": "Montar Contexto", "type": "main", "index": 0}]]
    },
    "Buscar Catalogo Hub": {
      "main": [[{"node": "Montar Contexto", "type": "main", "index": 0}]]
    },
    "Montar Contexto": {
      "main": [[{"node": "IA Atendimento", "type": "main", "index": 0}]]
    },
    "IA Atendimento": {
      "main": [[{"node": "Parse IA", "type": "main", "index": 0}]]
    },
    "Parse IA": {
      "main": [[{"node": "Switch Intencao", "type": "main", "index": 0}]]
    },
    "Switch Intencao": {
      "main": [
        [{"node": "Chamar Fluxo 2", "type": "main", "index": 0}],
        [{"node": "Chamar Fluxo 3", "type": "main", "index": 0}],
        [{"node": "Enviar Resposta WhatsApp", "type": "main", "index": 0}]
      ]
    },
    "Chamar Fluxo 2": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    },
    "Chamar Fluxo 3": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    },
    "Enviar Resposta WhatsApp": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "17b95c3e-6aac-460d-8cbf-e96714ad5a02",
  "updatedAt": "2026-05-07T00:01:48.055Z",
  "createdAt": "2026-05-07T00:01:40.315Z"
}
