n8n/workflows/04-followup-cron.json
{
  "name": "04 - Follow-up Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-6"
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger (09h Seg-Sáb)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HUB_URL }}/api/followup",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-cron-secret", "value": "={{ $env.CRON_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-chamar-followup",
      "name": "Chamar /api/followup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-ok",
      "name": "Sucesso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-log-ok",
              "name": "resultado",
              "value": "=Follow-up executado com sucesso em {{ $now.format('yyyy-MM-dd HH:mm') }}. Clientes processados: {{ $json.processados || 0 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-log-sucesso",
      "name": "Log Sucesso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-log-erro",
              "name": "erro",
              "value": "=Follow-up FALHOU em {{ $now.format('yyyy-MM-dd HH:mm') }}. Status: {{ $json.statusCode || 'desconhecido' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-log-erro",
      "name": "Log Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Schedule Trigger (09h Seg-Sáb)": {
      "main": [[{ "node": "Chamar /api/followup", "type": "main", "index": 0 }]]
    },
    "Chamar /api/followup": {
      "main": [[{ "node": "Sucesso?", "type": "main", "index": 0 }]]
    },
    "Sucesso?": {
      "main": [
        [{ "node": "Log Sucesso", "type": "main", "index": 0 }],
        [{ "node": "Log Erro", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "followup" }, { "name": "cron" }],
  "triggerCount": 1,
  "updatedAt": "2026-05-06T00:00:00.000Z",
  "versionId": "1"
}
